{% extends 'base.html' %}

{% block body %}
<h3>Player Information:</h3>
<br>
   <h5> {{ player.first_name }} </h5>
   <h5> {{ player.last_name }} </h5>
   <h5> {{ player.player_number }} </h5>
<form action="/update-player/{{player.player_id}}" method="POST"> 
<a href="/update-player/{{player.player_id}}"> <button>Update Player</button></a>
</form> 

<a href="/delete-player/{{player.player_id}}"> <button>Delete Player</button></a>
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{%endfor%}
{% endblock %}