{% extends 'base.html' %}

{%block body%}
<h3>Update Roster</h3>
<br>
<form action="/update-roster/{{roster.roster_id}}" method="POST">
<div>{{ form.csrf_token }}</div>
<div>{{ form.coach_name.label }} {{ form.coach_name(class="") }}</div>
<div> {{form.team_name.label }} {{ form.team_name(class="") }}</div>
<div> {{ form.submit }} </div>
</form>
{% for message in get_flashed_messages() %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{%endfor%}
{% endblock %}